{{- $name := "Sjors Robroek" -}}
{{- $personal_email := "s.robroek@vxsan.com" -}}
{{- $work_email := "srobroek@amazon.com" -}}
{{- $personal_github_user := "srobroek" -}}
{{- $personal_username := "srobroek" -}}
{{- $editor := "code" -}} 
{{- $editor_args := "--wait" -}}

edit:
    command: {{ $editor }}
    args: {{ $editor_args }}

data: 
    personal_email: {{ $personal_email }}
    name: {{ $name }}
    work_email: {{ $work_email }}


