{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env fish
{{ $brewFilePath := "Brewfile" }}
echo "installing brew bundle"
echo "hash: {{ include $brewFilePath |sha256sum }}"
brew bundle
if brew autoupdate status | grep running > /dev/null
  brew autoupdate start
end
{{ end -}}
